.tooltiptitle{
COLOR: #FFFFFF; 
TEXT-DECORATION: none; 
CURSOR: Default; 
font-family: arial; 
font-weight: bold; 
font-size: 8pt}

.tooltipcontent{
COLOR: #000000; 
TEXT-DECORATION: none; 
CURSOR: Default; 
font-family: arial; 
font-size: 8pt}

#ToolTip{
position:absolute; 
width: 100px; 
top: 0px; 
left: 0px; 
z-index:20; 
visibility:hidden;
}